DYNAMO_DB_URL="[URL_TO_GET_PROJECTS_API]"
REQUEST_URL="[URL_TO_PROJECT_UPLOAD]"
PROJECT_S3_BUCKET_URL="[URL_PROJECT_IMAGE_BUCKET]"

GALLERY_BUCKET="[S3_BUCKET_WITH_GALLERY_PHOTOS]"
GALLERY_BUCKET_URL="[URL_TO_S3_BUCKET_WITH_GALLERY_PHOTOS]"
GALLERY_ACCESS_KEY="[ACCESS_KEY_TO_GALLERY_S3_BUCKET]"
GALLERY_ACCESS_KEY_ID="[ACCESS_ID_TO_GALLERY_S3_BUCKET]"

DYNAMO_DB_TABLE="[DYNAMO_DB_TABLE_NAME_FOR_PROJECTS]"

BLOG_API_GATEWAY="[URL_TO_BLOG_API]"

GOOGLE_CALENDAR_URL="[URL_TO_GOOGLE_CALENDAR_API]"
GOOGLE_CALENDAR_API_KEY="[API_KEY_FOR_GOOGLE_CALENDAR_API]"
