@import "tailwindcss";

@theme {
  --color-background: #131313;
  --color-header: #202020;
  --color-hover: #353535;
  --color-shdn: #5A5959;
  --animate-typewriter: typewriter 3s ease-in-out infinite;
  
}

@keyframes typewriter {
 from { width: 0%;}
 to { width: fit-content; }
}

@keyframes blink {
  0% { border-right: 1px solid white; }
  
  20% { border-right: none;}
  
  40% { border-right: 1px solid white; }
  
  60% { border-right: none;}

  80% { border-right: 1px solid white; }

  100% { border-right: none;}
}

@keyframes rise {
  0% {
    opacity: 0;
    top: 25px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@layer components
{
  .typewriter {
    overflow: hidden;
    animation: typewriter 2s forwards, blink 1s 1 0s forwards;
  }

  .fade-in {
    position: relative;
    animation: rise 1s ease-out forwards;
    /* color: red; */
  }

  .fade-init {
    opacity: 0;
  }

  .shadow_class {
    text-shadow:4px 2px 0 var(--color-shdn);
  }
}

@layer base
{
    :root, html {
      font-size: 1.2vw;
      color: white;
    }
    
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;

    }
    

}